Imports

In [1]:
import pandas as pd

import requests
from bs4 import BeautifulSoup

In [10]:
# Happiness Index - Wikipedia (Data Scraping)
url = "https://en.wikipedia.org/wiki/World_Happiness_Report#cite_note-22"

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:145.0) Gecko/20100101 Firefox/145.0"}

response = requests.get(url, headers = headers)
response

In [ ]:
#Renaming columns
df_happiness = df_happiness.rename(columns = {'Country':'country', 'Happiness Score':'happiness_score'})

#Dropping unnecessary columns
df_happiness = df_happiness.drop(['2011', '2012', '2013', '2014'], axis=1)

#Removing unnecessary rows
df_happiness = df_happiness[df_happiness['country'] != 'Portugal']
df_happiness = df_happiness[df_happiness['country'] != 'Madeira']
df_happiness = df_happiness[df_happiness['country'] != 'Açores']

#Resetting index
df_happiness = df_happiness.reset_index(drop=True)

In [5]:
import pandas as pd

df_health = pd.read_csv(r"C:\Users\NocTo\OneDrive\Ambiente de Trabalho\PP1\PersonalProject_1\Data\Share of People with Good or Very Good Perceived Health - Eurostat.csv")
df_health

,country,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Belgium,74.6,73.9,74.5,74.9,74.1,75.6,76.5,75.4,75.5,74.6
1,Bulgaria,65.6,65.8,66.7,66.5,67.2,66.7,67.6,68.2,65.1,65.7
2,Czechia,61.3,60.4,61.9,62.1,62.0,63.4,67.8,68.0,66.5,66.4
3,Denmark,71.6,71.3,71.3,71.2,69.7,71.3,67.0,63.0,64.5,68.2
4,Germany,64.6,65.2,65.5,65.5,65.5,63.9,63.0,64.2,65.6,64.7
5,Estonia,51.5,52.9,52.5,51.8,56.6,58.4,58.3,57.8,56.3,57.7
6,Ireland,82.6,82.9,83.3,84.1,84.3,84.5,81.7,80.8,79.5,79.9
7,Greece,74.1,74.0,74.1,76.4,79.3,78.6,78.3,77.2,78.3,78.3
8,Spain,72.6,72.5,74.2,73.7,75.3,73.0,71.2,70.1,70.2,70.2
9,France,67.9,66.4,67.4,67.7,66.7,68.4,67.9,65.2,64.9,66.3
10,Croatia,58.2,59.2,60.9,60.7,60.5,63.7,62.8,63.2,65.0,67.2
11,Italy,65.8,70.9,77.0,73.3,72.9,NaN,73.6,72.9,73.9,75.5
12,Cyprus,80.3,78.7,78.1,77.8,77.0,77.5,75.9,76.1,75.6,75.2
13,Latvia,46.3,47.2,44.2,47.0,47.1,49.7,49.8,50.2,47.6,49.1
14,Lithuania,42.8,43.4,43.9,44.0,46.2,44.3,47.9,48.1,47.6,48.9
15,Luxembourg,70.5,69.2,71.1,68.6,71.9,73.6,76.5,74.4,74.1,73.1
16,Hungary,56.4,59.6,59.3,60.7,58.5,62.3,64.6,63.1,65.2,64.6
17,Malta,71.2,72.9,75.4,75.0,74.2,75.7,73.0,76.7,79.5,79.2
18,Netherlands,76.2,75.9,76.1,75.7,74.8,77.9,73.2,71.2,69.5,69.8
19,Austria,69.9,70.3,70.4,71.7,71.3,74.0,72.3,70.1,69.3,67.7
20,Poland,57.9,58.5,58.9,59.2,59.9,61.6,64.4,62.3,62.7,64.3
21,Portugal,46.5,47.7,48.9,49.3,50.1,51.3,50.2,49.5,51.0,53.6
22,Romania,70.0,70.5,70.9,70.6,71.2,73.0,72.8,73.3,72.1,75.5
23,Slovenia,64.8,64.5,65.3,65.4,66.7,67.2,69.1,67.8,65.7,66.2
24,Slovakia,66.0,66.5,67.1,66.7,65.2,65.3,65.2,66.1,68.0,66.8
25,Finland,69.9,70.3,70.2,69.0,68.6,70.0,70.2,64.5,66.3,66.5
26,Sweden,77.6,75.1,76.6,76.1,76.0,76.5,72.4,66.7,67.3,66.6
27,Iceland,76.4,76.1,77.1,76.7,75.1,74.9,NaN,NaN,NaN,NaN
28,Norway,78.4,77.1,77.4,76.6,72.7,74.7,74.6,74.0,73.9,74.3
29,Switzerland,79.6,77.7,80.2,80.7,81.3,83.3,81.9,80.2,79.2,78.9
30,United Kingdom,69.8,69.0,74.8,73.2,NaN,NaN,NaN,NaN,NaN,NaN
31,Montenegro,68.9,69.2,69.5,71.0,69.2,70.3,73.0,75.6,NaN,NaN
32,North Macedonia,77.1,78.4,75.4,75.5,74.7,76.6,77.1,74.0,74.8,NaN
33,Albania,NaN,NaN,81.4,81.8,82.0,82.8,83.0,83.4,83.9,NaN
34,Serbia,56.8,57.2,54.5,56.4,57.8,62.7,62.6,64.5,63.4,64.2
35,Türkiye,65.7,68.8,68.2,67.1,66.4,68.8,67.3,66.2,64.3,63.8
36,Kosovo*,NaN,NaN,NaN,82.0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Turn it from a wide to a long format
df_health = pd.melt(df_health, id_vars=['country'], var_name='year', value_name='good_health_percentage')

In [8]:
df_health

             country  year  good_health_percentage
0            Belgium  2015                    74.6
1           Bulgaria  2015                    65.6
2            Czechia  2015                    61.3
3            Denmark  2015                    71.6
4            Germany  2015                    64.6
..               ...   ...                     ...
365  North Macedonia  2024                     NaN
366          Albania  2024                     NaN
367           Serbia  2024                    64.2
368          Türkiye  2024                    63.8
369          Kosovo*  2024                     NaN

[370 rows x 3 columns]